{% extends "base.html" %}
{% block content %}
    <section>
        <div class = "container">
            <div class="w-100" style="max-width: 200px;"></div>
                <h2>Sign Up</h2>
                <form method="post" action='{{ url_for("auth.signup") }}' class = "form-inline">
                    <div class="form-group">
                        {{ form.csrf_token }}
                    </div>
                    <div class="form-group mb-2">
                        <strong>{{ form.username.label(class="sr-only") }} </strong>
                        {{ form.username(size=20, class = " form-control") }}
                    </div>
                    <div class="form-group mb-2">
                        <strong>{{ form.password.label(class="sr-only") }} </strong>
                        {{ form.password(size=32, class = " form-control") }}
                    </div>
                    <div class="form-group mb-3">
                        <strong> {{ form.passwordAgain.label(class="sr-only") }} </strong>
                        {{ form.passwordAgain(size=32, class = " form-control") }}
                    </div>
                    <div class="form-group mb-2">
                        <input type="submit" value="Create account" class = "btn btn-primary mb-2">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
